@font-face {
  font-family: "ThanksgivingJoy";
  src: url("../assets/fonts/ThanksgivingJoy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: "Baloo 2", Arial, sans-serif;
    background: linear-gradient(#66b2ff, #005c99);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "ThanksgivingJoy", Arial, sans-serif;
  font-size: 16px;
}

header h1 {
  font-size: 64px;
  /* GRANDE e legível */
  color: #004080;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.logo {
    width: 230px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#settings-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-btn img {
  height: 80%;
  transition: transform 0.3s ease;
}

#settings-btn:hover img {
  transform: rotate(45deg);
}


.container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
    width: 330px;
    height: 460px;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.4);
}

.char {
    width: 120%;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 280px;
  text-align: center;
}



.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup {
  background: #f4fbff;
  width: 320px;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  position: relative;
  color: #1a3d7c;
}

.popup h2 {
  font-size: 32px;
  margin-bottom: 25px;
}
.opcao {
    text-align: left;
    margin: 20px 0;
    color: #1a3d7c;
    font-size: 16px;
}

input[type="range"] {
    width: 100%;
    margin-top: 8px;
}

#background {
  position: fixed;
  inset: 0;
  background: url('../assets/fundo/fundo-limpo.svg') center/cover no-repeat;
  z-index: -1;
}
.nivel {
  background: #3d7bfd;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: bold;
}

.sair {
  background: #f44336;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* Botão fechar */
.fechar {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 22px;
  cursor: pointer;
  color: #888;
}

.fechar:hover {
  color: #000;
}