body {
    margin: 0;
    font-family: "Baloo 2", Arial, sans-serif;
    background: linear-gradient(#66b2ff, #005c99);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 230px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.settings-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.settings-btn img {
  width: 80px;
  height: 80px;
}

.settings-btn:hover {
  transform: scale(1.1);
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 280px;
  text-align: center;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.titulo {
    margin-top: 90px;
    font-size: 28px;
    color: #000;
    letter-spacing: 2px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
    width: 330px;
    height: 460px;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .2s, box-shadow .2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.4);
}

.char {
    width: 120%;
}
